@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish" , sans-serif;
}

header,
main {
  width: 80%;
  margin: 0 auto;
}

/* .navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.title-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .title-text {
  font-size: 36px;
  font-weight: 800;
  padding-left: 5px;
}

nav {
  margin-top: 4.5rem;
  display: flex;
  gap: 2.75rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2.75rem;
  padding-bottom: 50px;
}

nav li {
  color: #424247;
  font-size: 1.275;
  font-weight: 400;
}

.travel {
  color: #ff5400;
}

.hamburger {
  display: none;
  visibility: hidden;
}

.hero-section {
  background-image: url("./Images/hero-cover.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  /* height: 570px;
  width: 1215px; */
}

.hero-container {
  padding: 106px;
}

.hero-title {
  font-size: 4rem;
  color: #fff;
  font-weight: 800;
  /* padding-top: 106px; */
}

.hero-des {
  color: #fff;
  line-height: 162.5%;
  margin-top: 1.5rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.hero-form {
  display: inline-flex;
  padding: 1rem;
  gap: 1.5rem;
  width: 60%;
  margin: 3rem auto;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  justify-content: center;
}

.hero-form select,input {
  width: 20%;
  height: 3rem;
  border-radius: 0.5rem;
  background: #fff;
  border: 0;
  padding-left: 1rem;
  font-size: 1rem;
  color: rgba(19, 19, 24, 0.5);
}

.submit-button {
  border-radius: 0.5rem;
  background: rgb(255, 84, 0);
width: 30%;
height: 3rem;
  border: 0;
  padding-left: 1rem;
  font-size: 1rem;
  border: 0 auto;
  padding-left: 1rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}