
/* Initial Configuration */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish" , sans-serif;
}

header,main {
  width: 80%;
  margin: 0 auto;
}

/* .navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* Navbar Style */
.title-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .title-text {
  font-size: 36px;
  font-weight: 800;
  padding-left: 5px;
}

nav {
  margin-top: 4.5rem;
  display: flex;
  gap: 2.75rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2.75rem;
  padding-bottom: 50px;
}

nav li {
  color: #424247;
  font-size: 1.275;
  font-weight: 400;
}

.travel {
  color: #ff5400;
}

.hamburger {
  display: none;
  visibility: hidden;
}


/* Hero Section Style */
.hero-section {
  background-image: url("./Images/hero-cover.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  /* height: 570px;
  width: 1215px; */
}

.hero-container {
  padding: 106px;
}

.hero-title {
  font-size: 4rem;
  color: #fff;
  font-weight: 800;
  /* padding-top: 106px; */
}

.hero-des {
  color: #fff;
  line-height: 162.5%;
  margin-top: 1.5rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.hero-form {
  display: inline-flex;
  padding: 1rem;
  gap: 1.5rem;
  width: 60%;
  margin: 3rem auto;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  justify-content: center;
}

.hero-form select,input {
  width: 20%;
  height: 3rem;
  border-radius: 0.5rem;
  background: #fff;
  border: 0;
  padding-left: 1rem;
  font-size: 1rem;
  color: rgba(19, 19, 24, 0.5);
}

.submit-button {
  border-radius: 0.5rem;
  background: rgb(255, 84, 0);
width: 30%;
height: 3rem;
  border: 0;
  padding-left: 1rem;
  font-size: 1rem;
  border: 0 auto;
  padding-left: 1rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}

/* Popular Section Style */

.popular-section{
  padding: 50px 0;
}

.popular-container{
  display:  flex;
}

.popular-container img {
  width: 540px;
  height: 550px;
  border-radius: 1 rem;
}

.popular-column-left{
  width: 60%;
}

.popular-title{
  color: rgb(19, 19, 24);
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: 0%;
}

.popular-desc{
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  padding: 2rem 0;
}

.popular-desc ul {
  padding-left: 2rem;
  margin: 1.5rem 0;
  padding-top: 2rem;
}

/* Destination Section */

.destination-section{
  padding: 50px 0;
}

.destination-title{
  color: rgb(19, 19, 24);
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
}

.destination-desc{
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  padding: 2rem 0;
  text-align: center;
}

.row-one , .row-three{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: 300px;
  gap: 2rem;
}

.row-two{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 286px;
  gap: 2rem;
  margin: 1.5rem 0;
}

.destination-photo {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.75rem;
  font-weight: 800;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  ; 
}
.maldives{
    background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("./Images/maldives.png"), lightgray 50%;
}

.indonesia{
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  ),
  url("./Images/indonesia.png"), lightgray 50%;
}

.srilanka{
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  ),
  url("./Images/srilanka.png"), lightgray 50%;
}

.north-america{
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  ),
  url("./Images/north-america.png"), lightgray 50%;
}


.kashmir{
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  ),
  url("./Images/kashmir.png"), lightgray 50%;
}


.bangladesh{
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  ),
  url("./Images/bangladesh.png"), lightgray 50%;
}

.bandarban{
  background: linear-gradient(
    0deg,
    rgba(19, 19, 24, 0.2) 0%,
    rgba(19, 19, 24, 0.2) 100%
  ),
  url("./Images/bandarban.png"), lightgray 50%;
}

